html {
  box-sizing: border-box;
}

body {
  font-family: 'Zen Kaku Gothic Antique', 'Lexend', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: white;
}