html {
  box-sizing: border-box;
}

body {
  font-family: "Zen Kaku Gothic Antique", "Lexend", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: black;
  background-color: #c7c7c7;
  width: 100%;
  height: 100%;
}

/* HEADER STARTED*/

.header {
  height: 290px;
  background: url(../img/background-nature.jpg) no-repeat center;
  background-size: cover;
  margin: auto;
}
.header__wrapper {
  width: 470px;
  margin: 0 auto;
}
.header__title {
  width: 470px;
  padding: 70px 0 50px 0;
  font-family: "Zen Kaku Gothic Antique";
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 14px;
  text-transform: uppercase;
  color: white;
}

/* MAIN STARTED */

.main {
  margin-top: -135px;
}
.text-form__wrapper {
  width: 470px;

  display: flex;
  justify-content: center;

  margin: auto;
}
.text-form__block {
  width: 470px;
  height: 60px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: white;
}
.text-form__field-checkbox {
  margin: 0 20px 0 20px;
}
.text-form__field-text {
  width: 70%;
  border: 0;
}
.menu li {
  margin-bottom: 2px;
}
.menu li:first-child {
  margin-bottom: 24px;
}
.info-block {
  height: 35px;
}
.menu li:last-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.search-block {
  border-radius: 5px;
}

